---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h2>404: Page not found.</h2>
</BaseLayout>

<style>
  .discord-widget-container {
    float: right;
  }

  h2 {
    text-align: center;
  }
</style>
