---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="The Krew SMP">
  <p>
    <b>Java & Cracked:</b>
    <br />
    IP: KrewSMP.aternos.me:11878
  </p>
  <p>
    <b>Bedrock: </b>
    <br />
    IP: KrewSMP.aternos.me
    <br />
    Port: 11878
  </p>

  <p>
    <b>Discord Server:</b>
    <br />
    <a href="https://discord.gg/WBWKNMBbZ3">https://discord.gg/WBWKNMBbZ3</a>
  </p>
</BaseLayout>

<style>
  p {
    text-align: center;
  }
</style>
