<hr />
<footer>
  <p>
    The Krew SMP
    <br />
    Site by Cuboid ♥
  </p>
</footer>

<style>
  footer {
    text-align: center;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
</style>
